
.wrap-title {
  overflow-wrap: break-word;
  white-space: normal;
}

/*La tipologia (media-type) indica la categoria di un dispositivo 
se non viene espressamente indicata verra' usata la corrispondenza piu' generica possibile.
all - Identifica tutti i dispositivi.
print - E' destinata alla modalita' di stampa, quindi modifichera' un documento o una pagina nella sua versione stampabile.
screen - Per gli schermi, i tablet o gli smartphone.
speech - Dedicata ai sintetizzatori vocali o per gli screen reader che leggono la pagina ad alta voce.
*/

@media /*screen and */ (max-width: 345px) {
  .auth-wrapper.d-flex.align-center.justify-center.pa-4
   >.auth-card.pa-4.pt-7.v-card.v-card--density-default.v-card--variant-elevated.v-theme--light
    >.v-card-item.justify-center
     >.v-card-item__prepend{
    padding-inline-end: 0.5rem !important;
  }

  .adatta-titolo-schermo-piccolo {  
    &>.v-responsive{
      width: 80px !important;
    }
  }
}

@media /*screen and */ (min-width: 765px) and (min-height: 504px) {
  .auth-footer-start-tree.d-none.d-md-block,  
  .auth-footer-end-tree.d-none.d-md-block {
        display: block !important;
    }
}

.auth-footer-end-tree {
    //position: relative;
    margin-bottom: 30px;
}

.v-application__wrap {
  overflow-x: hidden;
}
